# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Aa]pp_[Dd]ata/
[Bb]uilds/
[Oo]bj/
[Bb]in/
[D]ebug/
[Tt]est[Rr]esult/
[Tt]emp/
[Pp]ackages/
*.cache
*~
*.swp
*.sdf
*.orig

# mstest test results
TestResults

#resharper#
_ReSharper.*
*.resharper*
*.[Rr]e[Ss]harper.user

#vs#
*.user
*.vspscc
*.vssscc
*.suo
*.Publish.xml

#win#
Thumbs.db